<div class="container">
    <div class="row">
          <div class="col-4">
              <form class="form"  [formGroup]="user" (ngSubmit)="onSubmit()">
                <div class="form-group"
                [ngClass]="{ 'form-invalid': !user.get('name')?.valid && user.get('name')?.['touched'] }">
                <label>collage name:</label>
                <input type="text" required formControlName="name" class="form-control"
                    placeholder="collageName" name="name" />
                <span
                    *ngIf="!user.get('name')?.valid && user.get('name')?.touched && user.get('name')?.errors?.['required']"
                    class="text-danger">
                    collageName is required
                </span>
                <span
                    *ngIf="!user.get('name')?.valid && user.get('name')?.touched && user.get('name')?.errors?.['name']"
                    class="text-danger">
                    Please enter a valid name
                </span>
            </div>
            ---
            <div class="form-group"
            [ngClass]="{ 'form-invalid': !user.get('name')?.valid && user.get('name')?.['touched'] }">
            <label>department name:</label>
            <input type="text" required formControlName="name" class="form-control"
                placeholder="departmentName" name="name" />
            <span
                *ngIf="!user.get('name')?.valid && user.get('name')?.touched && user.get('name')?.errors?.['required']"
                class="text-danger">
                departmentName is required
            </span>
            <span
                *ngIf="!user.get('name')?.valid && user.get('name')?.touched && user.get('name')?.errors?.['name']"
                class="text-danger">
                Please enter a valid name
            </span>
        </div>
        <div>
            <button class="btn btn-secondary">submit</button>
        </div>
              </form>
          </div>
    </div>
</div>